<%#= render "shared/second-header"%>
   <link rel= "stylesheet" href="new.user.css">
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='from-wrap'>
  <div class = "form-header">
     <h2 class = 'form-header-text'>
       sain up
     </h2>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
     <label class= "form-text" %>Nick Name</label>
     <%= f.text_field :nickname, class:"input-befault" %>
    </div>

   <div class="form-group">
     <div class='form-text-wrap'>
       <label class="form-text" %>Last Name</label>
      </div>
     <%= f.text_field :last_name, class:"input-befault" %>
   </div>

    <div class="form-group">
     <div class='form-text-wrap'>
       <label class="form-text" %>First Name</label>
     </div>
     <%= f.text_field :first_name, class:"input-befault" %>
    </div>

    <div class="form-group">
     <div class='form-text-wrap'>
       <label class="form-text" %>Email</label>
      </div>
     <%= f.email_field :email, autofocus: true, class:"input-befault", autocomplete: "Eメール" %>
    </div>

   <div class="form-group">
     <div class='form-text-wrap'>
       <label class="form-text" %>Password</label>
       <% if @minimum_password_length %>
         <em>(<%= @minimum_password_length %> 文字以上)</em>
       <% end %><br />
      </div>
     <%= f.password_field :password, class:"input-befault",autocomplete: "パスワード" %>
    </div>

    <div class="form-group">
     <div class='form-text-wrap'>
       <label class="form-text" %>Password</label>
     </div>
       <%= f.password_field :password_confirmation, class:"input-befault",autocomplete: "new-password" %>
    </div>
 </div>
  <div class="actions"> 
    <%= f.submit "sain up" ,class:"register-red-btn"%>
  </div>
</div>
<% end %>
