<link rel ='stylesheet' href="text.css">
<body>
 <div class='main'>
   <div class='title-contents'>
      <h1 class='main-title'>
       Spoil Me More 
      </h1>
      <p class='servicr-explain'>
       spoil me more は、いつも頑張っているあなたに
      </p>
    </div>
  </div>
  <h3>週間いいね数ランキング</h3>
  <% @all_ranks.each_with_index do |tweet,i|%>
  第<%= i+1 %>位
  <%= link_to tweet.title, tweet_path(tweet.id), local: true, method: :get %>
  投稿者
  <%= link_to tweet.user.nickname, "/users/#{tweet.user.id}" %>
  <% end %>
  <div class='main-lists'>
    <ul class='main-lists-contents'>
      <li><%= link_to '今日も素敵❤️(新規投稿）', new_tweet_path, class: "tweet-up" %></li>
    </ul>
  </div>
  <div class='tweet-contents'>
    <h3 class='pickuup-title'>NEW</h3>
  </div>
   <%# 投稿記事の表示%>
  <div class = 'card-list'>
    <% @tweets.each do |tweet|%>
      <section class="card">
          <div>
           <%= image_tag tweet.image.variant(resize: '350x300'), class: 'message-image' if tweet.image.attached? %>
          <div>
          <div class="card-content">
            <h4 class="card-title">
            <li><%= link_to tweet.title, tweet_path(tweet.id), method: :get %></li>
            <%#いいね解除ボタン%>
            <% if current_user.favorites.include?(tweet)%>
              <%= form_with(model: @best, url: best_path(id: tweet.id), local: true, method: :delete) do |f| %>
                 <%= f.hidden_field :tweet_id, value: tweet.id%>
                 <%= f.submit '頑張ってる!解除' %>
              <% end %>
            <% else %>
             <%#いいねボタン%>
              <%= form_with(model: @best,url: bests_path, local: true) do |f| %>
                 <%= f.hidden_field :tweet_id, value: tweet.id%>
                 <%= f.submit '頑張ってるね' %>
              <% end %>
            <% end %>
            </h4>
          </div>
          <div class="card-link">
            <%= tweet.user.nickname %>
          </div>
      </section>
    <% end %>
  <div>
</body>