<link rel ='stylesheet' href="tweet.css">
<div class="contents-row-show">
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="more">
        <%= image_tag @tweet.image.variant(resize: '500x500'), class: 'message-image' if @tweet.image.attached? %>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <p><%= @tweet.title %></p>
    <p><%= @tweet.text %></p>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
             </a>
    </span>
  </div>
  <div class="shwo-container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
  </div>
  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="show-comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p class="show-comments-list">
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
          <% if current_user.favorites.include?(comment) %>
            <%= form_with( model:@like, url: like_path(id: comment.id), local: true, method: :delete) do |f| %>
             <%= f.hidden_field :comment_id, value: comment.id %>
             <%= f.submit '素敵です!解除'%>
            <% end %>
          <% else %>
            <%= form_with(model: @like, url: likes_path, local: true) do |f| %>
             <%= f.hidden_field :comment_id, value: comment.id %>
             <%= f.submit '素敵です' %>
            <% end %>
          <% end %>
        </p>
      <% end %>
  </div>
</div>
