<!DOCTYPE html>
<html>
   <head>
     <title>SpoilMeMore</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>
   <body>
    <header>
      <div class = 'hader-lists'>
        <ul class='left_lists'>
         <li><%= link_to 'spoil me more', root_path %></li>
        </ul>
        <ul class='right_lists'>
         <%if user_signed_in? %>
           <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
           <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
         <%  else %>
           <li><%= link_to 'log in',new_user_session_path, class: "login" %></li>
           <li><%= link_to 'sain up',new_user_registration_path, class: "sign-up" %></li>
         <%end%>
        </ul>
      </div>
    </header>
    <body>
      <%= yield %>
    </body>
   <footer>
   <div>
     <p>© Spoil Me More</p>
   </div>
</html>

